body {
    margin: 0;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fGxvdmVuZGVyJTIwZmxvd2VyJTIwbGFuZHNjYXBlJTIwaGR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
    overflow: hidden;

}

h2 {
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;

}

.clock {
    display: flex;

}

.clock div {
    margin: 5px;
    position: relative;

}

.clock span {
    width: 100px0;
    height: 80px;
    background: slateblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4pxr rgba(0, 0, 0, 0.3);

}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgb(221, 50, 153);

}